.game-card {
  // margin-bottom: 5px;
  // padding: 10px 10px 10px 10px;
  // border: solid 1px;
  // border-radius: 5px;
  // position: relative;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%
  }

  .game-card-side-elements {
    // position: absolute;
    text-align: center;
    // margin: auto;
    // right: 15px;
    // top: 50%;
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
  }
}

.rental-card {
  margin-bottom: 5px;
  padding: 10px 10px 10px 10px;
  border: solid 1px;
  border-radius: 5px;
  // position: relative;
  color: black;

  .game-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
  
  a { 
    text-decoration: none !important;
    color: black !important;
  }

  a {
    text-decoration: none !important;
    color: black !important;
  }

  .rental-card-side-elements {
    // position: absolute;
    text-align: center;
  }
}
