.game-card {
  margin-bottom: 5px;
  padding: 10px 100px 10px 10px;
  border: solid 1px;
  border-radius: 5px;
  position: relative;

  .game-card-side-button {
    position: absolute;
    right: 15px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.rental-card {
  margin-bottom: 5px;
  padding: 10px 100px 10px 10px;
  border: solid 1px;
  border-radius: 5px;
  position: relative;
  color: black;

  .rental-status {
    position: absolute;
    right: 15px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }}
