.game-card {
  padding: 5px;
  border: solid 1px;
  border-radius: 5px;
  position: relative;

  .show-button {
    position: absolute;
    right: 15px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
